.message {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  color: white;

  .messageInfo {
    padding: 10px 10px 10px 5px;
  }

  .messageTimeStamp {
    color: #7b7c85;
    margin-left: 20px;
    font-style: 16px;
  }

}