.sidebar {
  display: flex;
  flex: 0.25;
  height: calc(100vh - 25px);

  .sidebarLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111214;
    padding: 7px 15px;

    .serverIcon {
      width: 60px;
      height: 60px;
      background-color: #2f3136;
      border-radius: 50%;
      margin-bottom: 10px;
      position: relative;
      margin-top: 7px;
      cursor: pointer;
      transition: background-color .2s, border-radius .2s;

      &:hover {
        border-radius: 25%;
        background-color: #738adb;
      }

      img {
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .sidebarRight {
    background-color: #2f3136;
    width: 300px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .sidebarTop {
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      border-bottom: 1px gray solid;
    }

    .sidebarChannels {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .sidebarEvent {
        border-bottom: 1px gray solid;

        .sidebarEventBody {
          display: flex;
          align-items: center;
          padding: 5px;
          margin: 10px 5px;
          color: white;

          &:hover {
            background-color: #686a6e;
            border-radius: 10px;
          }
        }
      }

      .sidebarChannelContents {
        flex-grow: 1;
        overflow-y: auto;
        scrollbar-width: none;
      }
    }

    .sidebarFooter {
      width: 93%;
      padding-bottom: 10px;
      padding-top: 10px;
      margin: 0 10px;
      margin-top: auto;
      font-size: 1.1rem;
      color: white;
      border-top: 1px solid #686a6e;

      .sidebarAccount {

        display: flex;
        align-items: center;
        justify-content: space-between;

        .accountStatus {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .accountName {

          span {
            color: #686a6e;
          }
        }

      }

      .sidebarVoice {
        align-items: center;

        .sidebarVoiceIcon {
          width: 30px;
          height: 30px;
          cursor: pointer;
        }
      }

      .accountImg {
        width: 50px;
        border-radius: 50%;
        margin-right: 15px;
      }
    }
  }
}